*{
    /* this is a universal selector , whatever you write will be applied on the whole document  */
    background-color: rgb(215, 223, 220);
}
/* h2{
    font-size: larger;
    background-color: rgb(78, 112, 119);
} */
header{
    background-color: rgb(139, 180, 203);
}
div{
    background-color: rgb(120, 94, 132);
}
.mid-text{
    font-weight: bolder;
    font-size: medium;
}
#headtext{
    text-decoration: dotted;
}